html {
  box-sizing: border-box;
}
*, *:before, *,:after{
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  background-color: #000000;
  font-family: montserrat-regular;
}

/* Default version */
@font-face {
  font-family: 'montserrat-regular';
  src: url('fonts/montserrat/Montserrat-Regular.otf');
  src: local('Montserrat Regular'),
  local('Montserrat_Regular'),
  url('fonts/montserrat/Montserrat-Regular.otf')
  format('opentype');
}
/* Bold version */

@font-face {
  font-family: 'montserrat-regular';
  src: url('fonts/montserrat/Montserrat-Bold.otf');
  src: local('Montserrat Bold'),
  local('Montserrat_Bold'),
  url('fonts/montserrat/Montserrat-Bold.otf')
  format('opentype');
  font-weight: bold;
}

/* Navegación */
#iefix {
  position: relative;
  z-index: 9999;
}
nav ul li a.nav-link{
  list-style: none;
  font-family: montserrat-regular;
  font-weight: bold;
  font-size: 20px;
}

nav.navbar-light .navbar-nav a.nav-link {
    color: white;
    font-family: montserrat-regular;
}

nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10px;
  font-family: montserrat-regular;
}
/* Fin Navegación */

div.container-fluid div.main-title {
  margin: 70px 0px 20px 0px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
form div.form-group{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0;
}
h2 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 50px 0;
}
p {
  text-align: center;
  text-align: justify;
}
.text-sec {
  /*opacity: 0;*/
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
  /* background-color: #174957; */
  color: #474350;
}
.container-fluid-proyectos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container-fluid-enlaces1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-fluid-enlaces2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}
.imgEnlace{
  padding-left: 10%;
  padding-right: 10%;
}

/* Botones de descarga */
.btn-1 {
  background-color: #F27935;
}
.btn-1 .round {
  background-color: #f59965;
}
a span {
  position: relative;
  z-index: 3;
}
a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.txt {
  font-size: 14px;
  line-height: 1.45;
}
.type-2 a {
  align-items: center;
  align-content: center;
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.type-2 a:hover .round {
  background: none;
}
.type-2 a:hover .round i {
  left: 20%;
}
.type-2{
  align-content: center;
  align-self: center;
}

legend, form label.control-label{
  font-weight: Bold;
}

footer {
  text-align: center;
  padding: 10px 0;
}

.map {
  border-left: 1px solid #fff;
  position: center;
  width: 60%;
  left: 20%;
  height: 450px;
  top: 20%;
  bottom: 0;
}

@media only screen and (max-device-width: 1024px) {
  nav div ul li.nav-item.dropdown:checked > div{
    display:block;
    margin-top: 0;
  }
}
@media (max-width: 768px){
  .container-fluid{
    grid-template-columns: none;
  }
}
